spring:
  application:
    name: connecto
  datasource:
    url: jdbc:h2:mem:connecto
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true